# Секретные сейфы и ключи
.env

# Локальные базы данных Docker и кэш
.data/
db_data/
__pycache__/
*.pyc

# Медиа-архивы (чтобы не забивать репозиторий тяжелыми видео)
app/media/
app/buffer/

# Окружение Python
hello/
.venv/
env/
